{% extends 'base.html' %}

        {% block content %}
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <div class="propaganda">
				<div id="propaganda1">Propaganda</div>
        </div>

        <div id="facebook-cel" class="fb-page" data-href="https://www.facebook.com/Itabira-Hoje-627171077635527/" data-small-header="false"
			 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
			<blockquote
				cite="https://www.facebook.com/Itabira-Hoje-627171077635527/"
				class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Itabira-Hoje-627171077635527/">Itabira Hoje</a>
			</blockquote>
		</div>


        {% for noticia in lista_noticias %}
            <div class="lista-noticias" style="align:center;margin-left:5%; margin-top:20px;">
                <div class="noticia-lista">
                    <div class="direita-lista" {% if noticia.foto1 %} style="height:90%;float: right;width: 55%;" {% endif %}>
                        <div class="categoria-lista"><a href="/{{noticia.categoria}}"><h3>{{noticia.categoria}}</h3></a></div>
                        <div class="titulo-lista"><a href="/noticias/{{noticia.slug}}"><h4>{{noticia.titulo}}</h4></a></div>
                        <div class="sub-lista"><a href="/noticias/{{noticia.slug}}"><h5>{{noticia.subtitulo}}</h5></a></div>
                    </div>
                    {%if noticia.foto1 %}
                    <div class="imagem-noticia-lista">
                        <img src="{{url_img}}{{noticia.foto1}}">
                    </div>
                    {% endif %}
                </div>

            </div>
	         {% endfor %}
        {% endblock %}