{% extends 'base.html' %}
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="corpo">
	<div class="propaganda">
		<div id="propaganda2">Propaganda</div>	
	</div>
	<div class="principal">
		<div id="p-dir">
			{% for noticia in noticia_capa3 %}
			<div id="p-dir-up" style="background-image:url({{url_img}}{{noticia.foto1}})">
				<div class="categoria-dir" >
					<a href="/{% filter lower %}{{noticia.categoria}}{% endfilter %}"><h2>{{noticia.categoria}}</h2></a>
				</div>
				<div class="titulo-dir">
					<a href="/noticias/{{noticia.slug}}"><h4>{{noticia.titulo}}</h4></a>
				</div>
			</div>
			{% endfor %}
			{% for noticia in noticia_capa2 %}
			<div id="p-dir-down" style="background-image:url({{url_img}}{{noticia.foto1}})">
					<div class="categoria-dir">
						<a href="/{% filter lower %}{{noticia.categoria}}{% endfilter %}"><h2>{{noticia.categoria}}</h2></a>
					</div>
					<div class="titulo-dir">
						<a href="/noticias/{{noticia.slug}}"><h4>{{noticia.titulo}}</h4></a>
				
					</div>
			</div>
			{% endfor %}
		</div>
		
		<div id="p-esq">
			<div id="p-esq-interno">
				{% for noticia in noticia_capa %}
					<div id="categoria-principal">
						<a href="/{% filter lower %}{{noticia.categoria}}{% endfilter %}"><h2>{{noticia.categoria}}</h2></a>
					</div>
					<div id="titulo-principal">
						<a href="/noticias/{{noticia.slug}}"><h1>{{noticia.titulo}}</h1></a>
					</div>			
					<div id="sub-pricipal">
						<a href="/noticias/{{noticia.slug}}"><h3>{{noticia.subtitulo}}</h3></a>
					</div>
				{% endfor %}
			</div>
		</div>					
	</div>
	<div class="propaganda">
		<div id="propaganda1">Propaganda</div>	
	</div>

	<div class="coluna-direita">
		<div class="fb-page" data-href="https://www.facebook.com/Itabira-Hoje-627171077635527/" data-small-header="false"
			 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
			<blockquote
				cite="https://www.facebook.com/Itabira-Hoje-627171077635527/"
				class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Itabira-Hoje-627171077635527/">Itabira Hoje</a>
			</blockquote>
		</div>

		<script style="margin-top:2rem;" src='https://www.concursosnobrasil.com.br/api/widget.js?l=mg' type='text/javascript'></script>

        <div class="propaganda-lateral">
			<a href="http://www.liderancacomvoce.com.br" target=“_blank” ><img src="{{url_img}}logo-radio-ruy.jpg"></a>
		</div>

        <div id="previsao">
		<iframe frameborder="0" allowtransparency="yes" float="right" width="300" height="200"
		src="http://www.tempoagora.com.br/ta-widgets?cidades=Itabira-MG&amp;tipo=horizontal"></iframe>
		</div>
		<div class="propaganda-lateral" style="margin-top:10px;">
			Propaganda
		</div>

	</div>
		<div id="facebook-cel" class="fb-page" data-href="https://www.facebook.com/Itabira-Hoje-627171077635527/" data-small-header="false"
			 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
			<blockquote
				cite="https://www.facebook.com/Itabira-Hoje-627171077635527/"
				class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Itabira-Hoje-627171077635527/">Itabira Hoje</a>
			</blockquote>
		</div>

		<h3 style="margin-bottom:1rem;">Ultimas notícias:</h3>
		{% for noticia in ultimas_noticias %}
		<div class="lista-noticias">
			<div class="noticia-lista">
				<div class="direita-lista" {% if noticia.foto1 %} style="height:90%;float: right;width: 55%;" {% endif %}>
					<div class="categoria-lista"><a href="/{{noticia.categoria}}"><h3>{{noticia.categoria}}</h3></a></div>
					<div class="titulo-lista"><a href="/noticias/{{noticia.slug}}"><h4>{{noticia.titulo}}</h4></a></div>
					<div class="sub-lista"><a href="/noticias/{{noticia.slug}}"><h5>{{noticia.subtitulo}}</h5></a></div>
				</div>
				{%if noticia.foto1 %}
				<div class="imagem-noticia-lista">
					<img src="{{url_img}}{{noticia.foto1}}">
				</div>
				{% endif %}
			</div>

		</div>

	{% endfor %}
</div>

{% endblock %}